.MainChat
  .informations
    .RightInformation
      .RightInformation__GroupName
        test
      .RightInformation__Member
        Member:masa
    .LeftInformation
      .LeftInformation__btn
      = link_to "#",class: "LeftInformation__btn" do
        Edit

  .messages
  .form