.MainChat
  .informations
    .RightInformation
      .RightInformation__GroupName
        test
      .RightInformation__Member
        Member:masa
    .LeftInformation
      .LeftInformation__btn
      = link_to "#",class: "LeftInformation__btn" do
        Edit
  .messages
    .message
      .message__UserData
        .message__UserData--name
          masa
        .message__UserData--CreateDate
          2019//11/20(Wed)17:43:01
      .massage__text
        おはよう！
    .message
      .message__UserData
        .message__UserData--name
          masa
        .message__UserData--CreateDate
          2019//11/20(Wed)17:43:01
      .massage__text
        おはよう！
  .form
    .FormArea
      