.SideBar
  .UserBox
    .UserName
      .UserName__name
        masa
      .UserName__link
        = link_to "#", class: "UserName__btn UserName__btn--groups" do
          = icon('fas', 'edit')
          %span<>
        = link_to "#", class: "UserName__btn UserName__btn--option" do
          = icon('fas', 'cog')
          %span<>
  .GroupBox
    .FirstGroup
      .FristGroup__name
      .FristGroup__message