* {
  box-sizing:border-box;
}
.wrapper{
  height: 100vh;
  width: 100vw;
  display: flex;
    &__SideBar {
     background-color: #253141;
      height:100%;
      width:300px;
    }

    &__MainChat {
      background-color:#ffffff;
      height: 100%;
      width: calc(100vw - 300px);
    }
}